@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");

.logo {
  width: 25%;
  display: inline;
  padding: 10px;
}

.title-logo {
  display: inline;
  font-family: "Anton SC", sans-serif;
  color: white;
}

.wrap {
  display: flex;
  justify-content: left;
  align-items: center;
  max-width: 200px;
}

.header {
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e50914;
  flex-direction: row;
}

.search {
  width: 6%;
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

.search-txt {
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.7);
  max-width: 250px;
  height: 35px;
  border-radius: 20px;
  padding: 5px;
  font-family: poppins;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.navigation a {
  font-size: 20px;
  font-family: poppins, sans-serif;
  text-decoration: none;
  color: white;
  width: 90px;
  text-align: center;
  border-radius: 8px;
}

.b1,
.b2 {
  width: 80%;
  height: 25px;
  margin: 5px;
  border: none;
  background-color: white;
  color: black;
  font-family: "Anton SC", sans-serif;
  font-size: 15px;
  border-radius: 8px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  height: 100%;
}

.b1:hover,
.b2:hover {
  background-color: rgb(230, 228, 228);
}

.navigation a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
